/* Water waves animation */
.waves > .parallax use {
animation: wave 25s cubic-bezier(0.5, 0.5, 0.45, 0.5) infinite;
transform: translateZ(0);
will-change: transform;
backface-visibility: hidden;
}

.waves > .parallax use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}

.waves > .parallax use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}

.waves > .parallax use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}

.waves > .parallax use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}

@keyframes wave {
0% {
transform: translate3d(-90px, 0, 0);
}
100% {
transform: translate3d(85px, 0, 0);
}
}

.waves {
contain: none;
}
